body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(46, 45, 43);
}

#mainPhoto{
    width: 515px;
    height: 515px;
    margin-bottom: 10px;
}

.imgCarousel{
    width: 100px;
    height: 100px;
    transition: 0.3s;
}

.imgCarousel:hover{
    width: 110px;
    height: 110px;
    border: 2px solid white;
    margin: 3px;
}

img{
    border-radius: 10px;
    cursor: pointer;
}